*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    min-height: 100vh;
}

a{
    
    text-decoration: none;
}

body>main{
    flex: 1;
}

body>header{
    height: 80px;
    background-color: rgb(17, 14, 26);
    color: rgba(255,255,255, .9);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

body>nav{
    background-color: rgb(60, 33, 150);
    
}

body>nav>ul{
    display: flex;
    justify-content: center;

    list-style: none;
}

body>nav>ul a{
    display: inline-block;
    padding: 10px 15px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s background-color;
}

body>nav>ul a:hover{
    background-color: rgba(0,0,0,.5);
}

body>main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2%;
}


body>footer{
    height: 100px;
    background-color: rgb(104, 104, 104);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    justify-content: space-evenly;
    
   
}

body>footer>p{
    
    color: rgba(255,255,255, .9);
}

form>label{
    display: block;
}

.producto-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.margin-main{
    min-height: 25em;
}

.boton-blanco{
    color:#FFF;
}